﻿
@model IEnumerable<Feedback>
@using MoneServer.Data.Entities

<div class="row">

    @foreach (var item in Model)
    {

        <br />
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="card-body">
                    <img class="figure-img" src="https://localhost:5001/@item.User.ImagePath" height="40" width="40"/>
                    <h5 class="card-title">User: @item.User.UserName</h5>
                    <h5 class="card-title">Text: @item.Text</h5>
                    <p class="card-text">Date: @item.CreateAt</p>

                </div>
            </div>
        </div>
        <br />
    }

</div>
