﻿
@model IEnumerable<Place>
@using Microsoft.AspNetCore.Identity
@using MoneServer.Data.Entities

@{
    ViewData["Title"] = "Searchresult";
}

<h1 class="text-center">Searchresult @Model.Count() </h1>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-12 col-md-6 col-lg-4">


            <div class="card" style="width: 18rem;">
                <a asp-action="Details" asp-controller="Places" asp-route-id="@item.Id">
                    <img class="card-img-top" src="@item.ImagePath" width="100" height="200" alt="Card image cap">
                </a>
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">@item.Description</p>
                    <a asp-action="Details" asp-controller="Places" asp-route-id="@item.Id" class="btn btn-primary">Open</a>
                </div>
            </div>


        </div>
    }

</div>
