﻿@model MoneServer.ViewModels.CreatePlaceVM

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Place</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PlaceAvatar" class="control-label"></label>
                <input asp-for="PlaceAvatar" type="file" class="form-control" accept="image/*" placeholder="image" />
                <span asp-validation-for="PlaceAvatar" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PlaceGallery" class="control-label"></label>
                <input asp-for="PlaceGallery" type="file" class="form-control" accept="image/*" multiple placeholder="image" />
                <span asp-validation-for="PlaceGallery" class="text-danger"></span>
            </div>

       
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
