﻿@model MoneServer.ViewModels.PlaceDetailsVM

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">@Model.Name</h1>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">


<div class="container">

    <hr />

    <div id="carouselExampleIndicators" class="carousel slide container" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>

            @for (int i = 1; i < Model.Galleries.Count(); i++)
            {
                <li data-target="#carouselExampleIndicators" data-slide-to="@i"></li>
            }



        </ol>
        <div class="carousel-inner">

            <div class="carousel-item active">
                <img class="d-block w-100" src="https://localhost:5001/@Model.ImagePath" height="500" alt="First slide">
            </div>
            @foreach (var item in Model.Galleries)
            {
                <div class="carousel-item">
                    <img class="d-block w-100" src="https://localhost:5001/@item.ImagePath" height="500" alt="Second slide">
                </div>
            }



        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <br /><br />

    </div>

    <h3 class="text-center">@Model.Description</h3>

    <div class="container">
        <h2 type="number" class="text-center text-danger" id="rating" />
    </div>
        

    <div class="star-rating text-center">
        <div class="star-rating__wrap">
            <input class="star-rating__input" id="star-rating-5" type="radio" name="rating" value="5">
            <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-5" title="5 out of 5 stars" onclick="add(5);"></label>
            <input class="star-rating__input" id="star-rating-4" type="radio" name="rating" value="4">
            <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-4" title="4 out of 5 stars" onclick="add(4);"></label>
            <input class="star-rating__input" id="star-rating-3" type="radio" name="rating" value="3">
            <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-3" title="3 out of 5 stars" onclick="add(3);"></label>
            <input class="star-rating__input" id="star-rating-2" type="radio" name="rating" value="2">
            <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-2" title="2 out of 5 stars" onclick="add(2);"></label>
            <input class="star-rating__input" id="star-rating-1" type="radio" name="rating" value="1">
            <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-1" title="1 out of 5 stars" onclick="add(1);"></label>
        </div>
    </div>


    <div class="text-center container">
        <form class="text-center">

            <div class="form-group">
                <label for="feedback">Example textarea</label>
                <textarea class="form-control" id="feedback" rows="3" placeholder="feedback" aria-label="feedback"></textarea>
            </div>
            <button class="btn btn-success" id="submit" type="submit">Send</button>
        </form>


    </div>
    <br />

    <div>
        <a asp-action="Index" class="btn btn-info">Back to List</a>
    </div>
    <br />
    <br />
    <div id="resultFeedback"></div>



</div>


@section Scripts{
    <script>
        function add(rating) {
            


            $('#rating').load('@Url.Action("SetRating", "Places")?rating=' + rating + '&placeId=@Model.Id');
           

            for (var i = 1; i <= 5; i++) {
                var cur = document.getElementById("star" + i);
                cur.getElementsByClassName = "fa fa-star";
            }

            for (var i = 1; i <= rating; i++) {
                var cur = document.getElementById("star" + i);
                if (cur.className == "fa fa-star") {
                    cur.className = "fa fa-star checked";
                }
            }
        }
    </script>

    <script>
        $(document).ready(function () {
            $('#submit')
                .click(function (param) {
                    param.preventDefault();
                    var feedback = $('#feedback').val
                    feedback = encodeURIComponent(feedback);
                    $('#resultFeedback').load('@Url.Action("FeedbackResult", "Places")?feedback=' + feedback + '&placeId=@Model.Id');
                    $("#feedback").val("");
                });
        });
    </script>

    <script>
     
    </script>
    
    
    <script>
        window.onload = function() {
            $(document).ready(function () {
                var feedback = null;
                var rating = 0;
                $('#resultFeedback').load('@Url.Action("FeedbackResult", "Places")?feedback=' + feedback + '&placeId=@Model.Id');

                $('#rating').load('@Url.Action("SetRating", "Places")?rating=' + rating + '&placeId=@Model.Id');
                   
                
            });
        }
    </script>
}