﻿@model MoneServer.ViewModels.PlacesVM
@using Microsoft.AspNetCore.Identity
@using MoneServer.Domain
@inject SignInManager<AppliactionUser> SignInManager
@inject UserManager<AppliactionUser> UserManager
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<h1 class="text-center">Places</h1>

<div class="container">


    @if (SignInManager.IsSignedIn(User))
    {
        <p>
            <a asp-action="Create" class="btn btn-primary">Create New</a>
        </p>
    }


    <div class="row">
        @foreach (var item in Model.Places)
        {
            <div class="col-sm-12 col-md-6 col-lg-4">

                <div class="card" style="width: 18rem;">
                    <a asp-action="Details" asp-route-id="@item.Id">
                        <img class="card-img-top" src="@item.ImagePath" width="100" height="200" alt="Card image cap">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">@item.Description</p>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Open</a>
                    </div>
                </div>

            </div>

            <br/>
        }
        
    </div>
  
</div>
<br /><br /><br />
@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="Index"
       asp-controller="Places"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       class="btn btn-primary btn">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Back
    </a>
}
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="Index"
       asp-controller="Places"
       asp-route-page="@(Model.PageViewModel.PageNumber + 2)"
       class="btn btn-primary btn">
        Next
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}