﻿@using System.Security.Cryptography
@model IEnumerable<MoneServer.Data.Entities.Place>

@{
    ViewData["Title"] = "Home Page";
}

<form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" id="searchKey" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" id="submit" type="submit">Search</button>
</form>


@if (ViewBag.count == 0)
{
    <h2 class="text-center">404 ;)</h2>
}
else
{
    <div id="searchResult">

    </div> 
}



@section Scripts{
    <script>
        $(document).ready(function () {
            $('#submit')
                .click(function (param) {
                    param.preventDefault();
                    var qwerty = $('#searchKey').val();
                    
                    qwerty = encodeURIComponent(qwerty);
                    $('#searchResult').load('@Url.Action("SearchResult","Places")?key=' + qwerty);
                });
        });
    </script>
}